*{
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
}
h1{
    height: 5rem;
    line-height: 5rem;
    background-color: #453F3C;
    color: white;
}
body{
    justify-content: center;
    align-content: center;
    background-color: #A7A7A9;
}
.choices{
    display: flex;
    gap: 1.5rem;
    justify-content: center;
}
.choice{
   margin-top: 2px;
   height: 165px;
   width: 165px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
}
.choice:hover{
    background-color: black;
}

img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.score{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    height: 100px;
    font-size: 25px;
}
#results{
    height: 25px;
    background-color: #453F3C;
    color: white;
    line-height: 25px;
    display: inline;
    padding: 10px;
    border-radius: 10px;
}